.button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
}

 .result-container {
      text-align: center;
      margin-top: 60px;
    }

.button, .reset-button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.red {
  background-color: #FF6347;
}

.blue {
  background-color: #4682B4;
}

.green {
  background-color: #32CD32;
}

.yellow {
  background-color: #FFD700;
}

.button:hover, .reset-button:hover {
  transform: scale(1.1);
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 10vh; /* Adjust height as needed */
}

h1 {
  margin: 0;
}
